# Pandas_Series演習
実際のデータ分析の手順に沿って演習していきます

In [3]:
import pandas as pd

In [5]:
# American Comunities Survay(ACS):米国国勢調査局によるデータ
df = pd.read_stata(
    "https://github.com/nickeubank/MIDS_Data/raw/master/US_AmericanCommunitySurvey/US_ACS_2017_10pct_sample.dta"
)

[practical data science](https://www.practicaldatascience.org/html/exercises/Exercise_dataframe.html)
>この演習では、American Communities Survey(ACS)のデータを使用して、学歴と賃金の関係を研究します。ACSは、米国国勢調査局(ただし、10年ごとに行われる米国内のすべての人のカウントである「国勢調査」ではありませんが)が米国人口の多数の特徴を測定するために実施した調査です。<br> 私たちが扱うデータには、2017年のACS調査から約100の変数が含まれており、ACSの10%サンプルです(それ自体は米国人口の1%サンプルであるため、米国の約0.1%サンプルで作業しています)。<br>
このデータは[IPUMS](https://usa.ipums.org/usa/)から得られ、米国だけでなく世界中の政府統計機関から主要な調査データセットのサブセットを取得するための非常に便利なツールです。<br>
このデータで使用されるすべての変数のドキュメントは、[こちら](https://usa.ipums.org/usa-action/variables/group)にあります(変数名で検索してこのデータ内の変数の意味を把握するか、正しい名前の変数がこのデータにあるかどうかを確認したいものを検索できます)。
このデータには、アメリカ人の代表的なサンプルの学歴と現在の収入の両方に関する情報が含まれています。<br>

**今回はこのデータを使用して、人種と労働市場での価値を推定します。**

## データの確認

### 演習1

In [138]:
# DataFrameの先頭5行を確認してください

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,...,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,...,0,not in identifiable area,NaN,NaN,NaN,NaN,NaN,no vision or hearing difficulty,no,no
1,2017,1,1200045,2.017001e+12,6,79,25,"male householder, no wife present",2.017012e+12,1.011189,...,0,not in identifiable area,NaN,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
2,2017,1,70831,2.017000e+12,1 person record,36,57,"male householder, living alone",2.017001e+12,1.011189,...,0,not in identifiable area,NaN,has cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
3,2017,1,557128,2.017001e+12,2,10,98,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,NaN,no cognitive difficulty,no ambulatory difficulty,no independent living difficulty,no,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,NaN,NaN,NaN,NaN,NaN,no vision or hearing difficulty,no,no

### 演習2

In [6]:
# DataFrameのサイズを確認してください

(319004, 104)

### 演習3

In [126]:
# DataFrameのカラムを確認してください

Index(['year', 'datanum', 'serial', 'cbserial', 'numprec', 'subsamp', 'hhwt',
       'hhtype', 'cluster', 'adjust',
       ...
       'migcounty1', 'migmet131', 'vetdisab', 'diffrem', 'diffphys', 'diffmob',
       'diffcare', 'diffsens', 'diffeye', 'diffhear'],
      dtype='object', length=104)

### 演習4
**平均所得(`columns = 'inctot'`)**

In [15]:
# 平均所得の統計量を確認してください

count    3.190040e+05
mean     1.723646e+06
std      3.732326e+06
min     -9.000000e+03
25%      1.050000e+04
50%      3.370000e+04
75%      9.140000e+04
max      9.999999e+06
Name: inctot, dtype: float64

In [132]:
df['inctot'].describe()['mean']

1723646.2703978634

**平均所得が高すぎる→max値がどうも怪しい**

### 演習5

In [133]:
# inctot列にはどのような値が含まれていてそれぞれが何個あるかを見つけてください

9999999    53901
0          33679
30000       4778
50000       4414
40000       4413
           ...
70520          1
76680          1
57760          1
200310         1
505400         1
Name: inctot, Length: 8471, dtype: int64

**9999999が多すぎる** <br>
**→ このデータでは欠損地を9999999にしているらしいと予想できます**

### 演習6

In [19]:
# 9999999をnp.nanに置換してください

In [20]:
df['inctot'].value_counts()

0.0         33679
30000.0      4778
50000.0      4414
40000.0      4413
20000.0      4067
            ...
246600.0        1
90810.0         1
341380.0        1
15790.0         1
505400.0        1
Name: inctot, Length: 8470, dtype: int64

### 演習7

In [21]:
# もう一度平均所得を計算してください

40890.177564946454

**それではいつ9999999が使われていたのかを特定します**

### 演習8

In [25]:
# dfの中でinctotがNaNの行を抽出して下さい

,year,datanum,serial,cbserial,numprec,subsamp,hhwt,hhtype,cluster,adjust,...,migcounty1,migmet131,vetdisab,diffrem,diffphys,diffmob,diffcare,diffsens,diffeye,diffhear
0,2017,1,177686,2.017001e+12,9,64,55,"female householder, no husband present",2.017002e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
4,2017,1,614890,2.017001e+12,4,96,54,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
7,2017,1,1250314,2.017001e+12,4,98,70,married-couple family household,2.017013e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,n/a,no,no vision or hearing difficulty,no,no
8,2017,1,32541,2.017000e+12,5,42,67,hhtype could not be determined,2.017000e+12,1.011189,...,13,"phoenix-mesa-scottsdale, az",n/a,no cognitive difficulty,no ambulatory difficulty,n/a,no,no vision or hearing difficulty,no,no
11,2017,1,105085,2.017000e+12,4,11,101,married-couple family household,2.017001e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,n/a,no,no vision or hearing difficulty,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318986,2017,1,157942,2.017001e+12,3,80,165,married-couple family household,2.017002e+12,1.011189,...,59,"los angeles-long beach-anaheim, ca",n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
318989,2017,1,441873,2.017001e+12,11,77,120,married-couple family household,2.017004e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no
318991,2017,1,892823,2.017001e+12,5,24,146,"female householder, no husband present",2.017009e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,n/a,no,no vision or hearing difficulty,no,no
318997,2017,1,798229,2.017001e+12,5,53,72,married-couple family household,2.017008e+12,1.011189,...,0,not in identifiable area,n/a,no cognitive difficulty,no ambulatory difficulty,n/a,no,no vision or hearing difficulty,no,no
319000,2017,1,586263,2.017001e+12,4,57,77,married-couple family household,2.017006e+12,1.011189,...,0,not in identifiable area,n/a,n/a,n/a,n/a,n/a,no vision or hearing difficulty,no,no

### 演習9

In [26]:
# さらにage列を抽出し9999999がいつ使われていたかを特定してください
# 本来であればすべてのカラムに対して調査しないといけないですが簡単のため原因がage列にある事がわかっているものとします

10                      3997
9                       3977
14                      3847
12                      3845
13                      3800
11                      3791
8                       3648
7                       3527
6                       3524
5                       3512
2                       3405
1                       3340
4                       3318
3                       3220
less than 1 year old    3150
74                         0
73                         0
72                         0
71                         0
70                         0
Name: age, dtype: int64

**どうやら14歳以下のinctotを9999999にしていたらしい**

***さらに収入0もかなりの数あるため現在働いている人を対象として抽出*** <br>
**→労働市場での価値を測りたいため**

### 演習10
**労働しているかの指標(`columns = 'empstat'`)**

In [27]:
# empstatのvaluesを確認してください

employed              148758
not in labor force    104676
n/a                    57843
unemployed              7727
Name: empstat, dtype: int64

In [146]:
# dfのうち雇用されている人の平均所得を出力してください

57854.723914007984

## 分析

### 演習11

**収入と人種(`columns='race'`)**

In [28]:
# 人種のvalueを確認してください

white                               243751
black/african american/negro         31691
other asian or pacific islander      12508
other race, nec                      12304
two major races                       8826
chinese                               4313
american indian or alaska native      3595
three or more major races             1207
japanese                               809
Name: race, dtype: int64

***ここでは白人と日本人で比較***

### 演習12

In [29]:
# 白人かつ雇用されている人の平均年収を出力してください
# 複数条件のmaskは()で囲み, &(and), |(or)で記述

60473.15372747098

In [30]:
# 日本人かつ雇用されている人の平均所得を出力してください

78906.74418604652

***groupbyで一度に算出***

In [152]:
# non_employed含む

race
american indian or alaska native    23992.854989
black/african american/negro        27427.134738
chinese                             47246.115591
japanese                            54477.486842
other asian or pacific islander     45444.672559
other race, nec                     23703.220545
three or more major races           34824.905660
two major races                     32277.964461
white                               43488.430019
Name: inctot, dtype: float64

In [153]:
# employedのみ

race
american indian or alaska native    37996.522481
black/african american/negro        41747.949905
chinese                             72804.918567
japanese                            78906.744186
other asian or pacific islander     66647.736613
other race, nec                     34989.400521
three or more major races           49787.183099
two major races                     49021.151515
white                               60473.153727
Name: inctot, dtype: float64

### 演習13

白人の中にはヒスパニック系アメリカ人も含まれるため、一般に想定される白人アメリカ人の給与が過小評価されてしまっている<br>
`hispan`列を用いて白人アメリカ人の平均給与を算出してください